<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX Demo</title>
    <script
      src="/htmx.min.js"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
    {{/* TODO - get devReload working. This is go template, so we can conditionally include modules like dev reload */}}

    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <main class="mx-auto py-4 px-2 max-w-4xl">{{embed}}</main>
  </body>
</html>

