<script
  type="module"
>
  import mountSignIn from '/scripts/signin.js';
  await mountSignIn("#auth");
</script>


<div class="bg-slate-400 w-24">
  <p>Crum</p>
  <div id="auth">
  
  </div>
</div>

