<h1 class="text-3xl text-center">{{.Title}}</h1>
<h2 class="text-xl text-center text-green-500 my-4">
  What about now. Just compiled the html! Rebuild received?
</h2>

<p class="italic">
  This would appear to be a pretty good solution. Even if we're not sure the
  Tailwind and JS is built, it's pretty dang close. I mean, the golang server
  will almost always be slowest to restart!
</p>
